*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    *{
        border: 1px dashed;
    }
}

body{
    font-family: sans-serif;
}

[class^="col-"]{
    height: 600px;
}


section{
    padding: 160px 0;
}

/* hedear*/

header{
    height: 6rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .bg-1{
    gap: 1rem;
    display: flex;
}

}


.list-unstyled{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.info{
    text-decoration: none;
    color: black;
}

.bt-inizia{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    border-width: 0.5rem;
}



/*main*/

.jumbotron{
    height: 750px;
    background-color: #b4d0e6;
    padding: 5rem;
}

.container{

    width: 90%;
    margin: auto;
}

.d-flex{
    display: flex;
}

h1{
    font-size: 4rem;
    width: 60%;
    margin-left: 20rem;
}

.main-paragraph{
    width: 20%;
    margin-left: 20rem;
}

.bt-blue{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    border-width: 0.5rem;
}


.main-paragraph p{
    margin: 40px 0px 40px 0px;
}

.jumbo{
  height: 600px;
  margin-top: 30px ;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 8rem;
}


/*section plans*/

.container-sm{
    width: 60%;
    max-width: 900px;
    margin: auto;
}


.col-1{
    width: calc(100%/3);
    border: 1px solid gray;
}

.col-2{
    margin-top: 70px;
    width: 100%;
    height: 250px;
    border: 1px solid gray;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.partner{
  height: 500px;
}

.col-3{
    width: calc(100%/5);
}


.plan-category{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}

.plan hr{
    width: 15%;
    margin-left: 20px;
}

.plan-name-price{
    margin: 10px;
    font-weight:bold;
}

.plan-durata{
    color: gray;
    margin: 30px;
}

.desc-1{
    margin: 10px;
}

.desc-2{
    margin: 10px;

}

.desc-3{
 
    margin: 0px 10px 40px 10px;
}


.bt-plan{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    border-width: 0.5rem;
    margin: 10px;
  }

 .plan-acquista{
    margin: 30px 10px 40px 10px;
 }

 .plan-details{
    padding: 5px;
 }

 .plan-details span{
    font-weight: bold;
 }

 .plan-large{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    margin-bottom: 10px;
 }

 .plan-p{
    margin-top: 7rem;
    width: 60%;
    margin-left: 20px;
 }

 .botton{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    border-width: 0.5rem;
    text-decoration: none;
    margin: 10px;
    float: right;
 }

.plan-ent{
    margin-left: 20px;
}

/*footer*/

footer{
    background-color: black;
    padding: 2rem;
}
