*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* hedear*/

header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-1{
    gap: 1rem;
}

.d-flex{
    display: flex;
}

.logo{
    margin-left: 1rem;
}

.list-unstyled{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

.bt-blue{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    border-width: 0.5rem;
}

/*main*/

.container{
    width: 100%;
    margin: auto;
    height: 50rem;
    background-color: #b4d0e6;
    padding: 5rem;
}

.bg-5{
    background-color: #b4d0e6;
    margin-left: 20rem;
}

.bg-2{
    background-color: palevioletred;
}

.main-text{
    height: 10rem;
    width: 70rem;
    font-size: 2.3rem;
}

.bg-3{
    background-color: green;
}

.main-paragraph{
    height: 8rem;
    width: 20rem;
    font-size: 1rem;
    margin-top: 3rem;
}

.bt-1{
    height: 3rem;
    width: 15rem;
    margin-top: 1rem;
}

.bt-2{
    height: 1rem;
    width: 2rem;
    margin-top: 10rem;
    font-size: 3rem
}

.jumbo{
  height: 38rem;
  float: right;
  margin-top: -13rem;
  margin-right: 7rem;
}